.cart-page {
    margin: 80px auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}

th {
    text-align: left;
    padding: 5px;
    color: #fff;
    /* background: #ff523b; */
    background: #7fad39;
}

td {
    padding: 10px 5px;
}

td input {
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a {
    color: #ff523b;
    font-size: 12px;
}

td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.top-ledge {
    border-top: 3px solid #7fad39;
}

.total-price {
    display: flex;
    justify-content: flex-end;
}

.total-price table {
    /* border-top: 3px solid #ff523b; */
    border-top: 3px solid #7fad39;
    width: 100%;
    max-width: 350px;
}

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}


@media only screen and (max-width: 600px) {
    .product-link-text {
        display: none;
    }
}

.f {
    font-size: 16px;
    color: black;
}
/* 
.block {
    display: block;
    width: 100%;
    border: none;
    background-color: #4CAF50;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
} */

.order-div {
    display: flex;
    justify-content: flex-end;
}


.order-div .btn {
    width: 350px;
    border:none;
    text-align: center;
}

.place-order-div {
    display: flex;
    justify-content: flex-end;
}

.place-order-div .btn {
    width: 100%;
    border:none;
    text-align: center;
}
